.Navbar{
  display: flex;
  flex-direction: column;
  background-color: #656662;
  margin: 0 7%;
}
.Navbarheader img{
 width: 9%;
}
.menu{
  display: flex;
  padding: 15px 0;
  
  width: 100%;
}
.menu li{
  margin: 0 15px;
}
.link-nav{
  color: #000;
}
.Navbarbottom{
 display: flex;
}
.Login{
 margin-left: 2%;
 color: #dbdbdb;
}
.Navbarheader{
  display: flex;
  flex-direction: row;
}
.search-cart-nav{
  display: flex;
  width: 100%;
  justify-content: right;
}
.searchtxt{
  margin-top: 1%;
  margin-right: 1%;
}
.container-search{
  margin-top: 4%;
  margin-right: 3%;
  background-color: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: 0.8s;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container-search:hover .input-search{
  width: 200px;
  cursor: pointer;
}
.container-search .input-search{
  background:transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}
.link-nav{
  text-transform: uppercase;
}
.cart{
  color: #dbdbdb;
}
.login{
  color: #cfcece;
}