.Navbar{
  display: flex;
  flex-direction: column;
  background-color: #000;
  margin: 0 2%;
}
.Navbarheader img{
 width: 150%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.header{
  background-color: #000;
}
.menu {
  display: flex;
  margin: 0 0 0 80px;
  width: 100%;
  justify-content: space-between;
}
.menu li{
  margin: 0 20px;
}
.link-nav{
  color: #000;
}
.Navbarbottom{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.Login{
 margin-left: 2%;
 color: #dbdbdb;
}
.Navbarheader{
  display: flex;
  flex-direction: row;
}
.search-cart-nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
}
.searchtxt{
  margin-top: 1%;
  margin-right: 1%;
}
.container-search{
  margin-top: 5%;
  margin-right: 3%;
  background-color: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: 0.8s;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container-search:hover .input-search{
  width: 200px;
  cursor: pointer;
}
.container-search .input-search{
  background:transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}
.link-nav{
  text-transform: uppercase;
  min-width: 100px; 
  white-space: nowrap;
}
.cart{
  color: #dbdbdb;
}
.login{
  color: #cfcece;
}
.search-bars{
  display: flex;
  align-items: center;
}
.ant-input{
height: 100%;
padding: 0;
padding-bottom: 6.7%;
padding-top: 0.5%;
background-color: #fff;
}
.menu li{
  width: 100%;
  
}