.text {
    width: 100%;
    text-align: center;
    padding: 165px;
}

.text button {
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.384);
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    padding: 10px;
}

.text a {
    color: blue;
    font-weight: bold;
}


.cart-container {
    width: 100%;
    height: auto;
}

.cart-content {
    width: 1140px;
    height: auto;
    padding-bottom: 200px;
    margin: 0 auto;
    margin-top: 60px;
}

.cart-page-title {
    margin-bottom: 22.5px;
}

.cart-page-title h1 {
    font-size: 36px;
    font-family: Unica One, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;

}

.checkout {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}

.subtotal {
    display: flex;
    font-size: 24px;
    letter-spacing: inherit;
    text-transform: inherit;
    font-family: Karla, sans-serif;
    font-weight: 700;
    font-style: normal;

}

.subtotal-title {
    margin-right: 30px;
}

.nav-btn {
    display: flex;
    justify-content: end;
}
.check-out-btn {
   
    width: 284px;
}

.check-out-btn button {
    border: none;
    width: 100%;
    background-color: #006eff;
    padding: 16px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    letter-spacing: inherit;
    text-transform: inherit;
    font-family: Karla, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;

}

.check-out-btn button:hover {
    background-color: #005acf;

}

.back-to-shopping button {
    border: none;
    color: #0063e6;
    font-size: 16px;
}

.back-to-shopping button:hover {
    color: #0046a2;

}

/* cart item */
.cart-item {
    display: flex;
    align-items: center;
    height: 155px;
}



.cart-item-img {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 20px;
    flex: 1.5;

}

.cart-item-img img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.countHandler {
    flex: 1.5;
    display: flex;
    height: 100%;
    padding: 20px;

}

.countHandler button,
.countHandler input {
    width: 30px;
    height: 100%;
    border: 0;
    text-align: center;
    background-color: #fff;


}

.cart-item-price {
    flex: 2;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
 
}

.cart-item-price p{
    margin: 0;
}

.cart-item-description {
    flex: 5;
    display: flex;
    padding: 20px;
    height: 100%;
    align-items: center;

}

.cart-item-price p {
    font-size: 20px;
    color: #666;
    letter-spacing: inherit;
    text-transform: inherit;
    font-family: Karla, sans-serif;
    font-weight: 400;
    font-style: normal;

}

.item-name a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    letter-spacing: inherit;
    text-transform: inherit;
    font-family: Karla, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.item-name a:hover {
    color: #007bff;
}

.item-size {
    display: flex;
}

.size-value {
    padding-left: 7px;
}