
*{
    padding: 0;
    margin: 0;
}


.Search{
    background-color: gray;
  border-radius: 10px;
  position: relative;
  width: 50%;
  height: 40%;
  margin-top: 25px;
}
.Search input{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 20px;
    border-radius: 10px;
}
.Search button:focus{
    outline: none;
}
.Search button{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}
.Search button:hover{
    color: rgb(162, 163, 163);
}

.OtherHead{
    display: flex;
}
.OtherHead button:focus{
    outline: none;
}
.shopping-cart{
    border: none;
    background: none;
    cursor: pointer;
    width: 50px;
    height: 100%;
    font-size: 25px;
}
.shopping-cart{
    border: none;
    background: none;
    cursor: pointer;
    width: 50px;
    height: 100%;
    font-size: 25px;
}
.Login{
    border: none;
    background: none;
    cursor: pointer;
    width: 50px;
    height: 100%;
    font-size: 25px;
}
.banner img{
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
}
.Login a{
    color: #000;
}
.shopping-cart a{
    color: #000;
}
.banner-box img{
    width: 100%;
}
.banner{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.banner img{
    object-fit: cover;
}
.navmenu li{
    margin: 0 15px;
}

.Header{
    position: relative;
}

.butt-1{
    position: absolute;
    left: 2%;
    transform: translateY(250px);
    z-index: 2;
}

.butt-2{
    position: absolute;
    right: 2%;
    transform: translateY(-250px);
}

.Header button:hover{
    background-color: white;
}