ul li {
    list-style: none;
}

.marketplace-container {
    width: 100%;
    margin-top: 60px;
    padding-bottom: 100px;
}

.shop-title {
    width: 1180px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.shop-title p {
    font-family: Unica One, sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.main-content {
    display: flex;
    width: 1180px;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
}

.subdue {
    flex: 1;

}

.product {
    flex: 3;

}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* You can adjust the margin as needed */
}