*{
    margin: 0;
    padding: 0;
}
.card{
    display: flex;
    justify-content: center;
    border: 0;
    align-items: center;
}
.img-content{
    position: relative;
    width: 100%;
}
.img-content img{
    width: 100%;
}
.img-content button{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    padding: 0 30px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.img-content a{
    color: #fff;
}
.price p{
    background-color: aqua;
    width: 50%;
    padding-left: 15px;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 70px;
}

.View-items{
    margin-top: 15px;
}
.View-items a{
   margin-left: 70%;
    color: #000;
    text-transform: uppercase;
}
.detail-product{
    width: 100%;
    display: flex;
}
.star i{
    color: "rgb(255, 226, 59)";
    font-size: 10px;
    margin-right: 15px;
}
.price{
width: 80%;
display: flex;
justify-content: center;
}
.star{
width: 20%;
}
.card{
    margin-top: 20px;
    text-align: center;
}
.detail-product{
    text-align: center;
    margin-top: 15px;
    width: 100%;
}
.detail-product button{
    width: 100%;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}
.view-product{
   text-decoration: none; 
}
.View-items Link{
    text-decoration: none;
}
.view-product .view-btn {
    background-color: #fff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: -40px;
    /* Ẩn nút View dưới product-card */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: bottom 0.3s ease, opacity 0.3s ease;
}
.card:hover .view-product .view-btn {
    bottom: 50%;
    opacity: 1;
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.view-product .view-btn:hover {
    background-color: #000;

}