
*{
    padding: 0;
    margin: 0;
}

.navmenu{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 25px;
}
.navmenu a{
    text-decoration: none;
    list-style: none;
    margin-left: 30px;
    text-transform: uppercase;
    color: #000;
}
.navmenu a:hover{
    padding: 15px 15px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
}
.Search{
    background-color: gray;
  border-radius: 10px;
  position: relative;
  width: 50%;
  height: 40%;
  margin-top: 25px;
}
.Search input{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 20px;
    border-radius: 10px;
}
.Search button:focus{
    outline: none;
}
.Search button{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}
.Search button:hover{
    color: rgb(162, 163, 163);
}

.OtherHead{
    display: flex;
}
.OtherHead button:focus{
    outline: none;
}
.shopping-cart{
    border: none;
    background: none;
    cursor: pointer;
    width: 50px;
    height: 100%;
    font-size: 25px;
}
.shopping-cart{
    border: none;
    background: none;
    cursor: pointer;
    width: 50px;
    height: 100%;
    font-size: 25px;
}
.Login{
    border: none;
    background: none;
    cursor: pointer;
    width: 50px;
    height: 100%;
    font-size: 25px;
}
.banner img{
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
}
.Login a{
    color: #000;
}
.shopping-cart a{
    color: #000;
}
.banner-box img{
    width: 100%;
}
.banner{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.banner img{
    object-fit: cover;
}
.navmenu li{
    margin: 0 15px;
}
.Navbar{
    position: fixed;
    background-color: #fcf7f7;
    z-index: 1;
    width: 100%;
    top: 0;
}
.Header{
    margin-top: 50px;
}