.main-create {
    width: 100%;
    display: flex;
    justify-content: center;
}
.create-content {
    width: 53%;
    text-align: center;
    margin-top: 6%;
}
.create-content h1 {
    font-family: Unica One, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 200%;
}
.button-create {
    font-family: Unica One, sans-serif;
    font-size: 150%;
    width: 100%;
    background-color: rgb(81, 69, 245);
    color: #fff;
}
