input,
select {
    width: 100%;
    height: 45px;
    padding: 6px;
    border-radius: 3px;
    border: 0.5px solid #a6a6a694;

}

select {
    color: #5c5c5c;
}

h1 {
    margin-bottom: 21px;
    font-size: 18px;
    color: #333;
    font-weight: 400;
}


.contact {
    margin-bottom: 30px;
}

.padding-form {
    padding: 6px;
}

.contact-title {
    margin-bottom: 21px;
}

.contact-infor,
.product-infor {
    width: 100%;
    height: auto;
}

.contact-infor {
    flex: 60%;
    padding-top: 56px;
    padding-right: 66px;
}

.error-message {
    color: red;
}

.data-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.return-btn {
    border: none;
    color: #006eff;
    font-size: 14px;
}

.return-btn:hover {
    color: #004bae;

}

.submit-btn button {
    width: 185px;
    height: 60px;
    border: none;
    background-color: #006eff;
    color: #fff;
    border-radius: 5px;
}

.submit-btn button:hover {
    background-color: #004bae;

}

