.product-infor {
    flex: 40%;
    padding-top: 56px;
    padding-left: 44px;
}

.consignee-name {
    display: flex;
    justify-content: space-between;
}

.first-name,
.last-name {
    width: 48%;
}


.payment-item {
    display: flex;
    width: 100%;
    padding-bottom: 14px;


}

.payment-item-img {
    position: relative;
    flex: 2;

}

.payment-item-infor {
    flex: 8;
    display: flex;
    align-items: center;

}


.item-img {
    width: 64.4px;
    height: 64.4px;
}

.item-img img {
    width: 100%;
    height: 100%;
    border: 0.5px solid #ababab;
    border-radius: 3px;
}

.item-amount {
    position: absolute;
    top: -7px;
    left: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    background-color: #3e3e3ed0;
    border-radius: 50%;

}

.item-amount p {
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    margin: 0;

}

.item-infor {
    flex: 7;
}

.item-price {
    flex: 3;
}

.item-infor,
.item-price {
    display: flex;
    height: 100%;
    padding-left: 14px;
    align-items: center;
}

.item-name p,
.item-price p {

    margin: 0;
}

.payment-cost {
    border-top: 0.5px solid #333;
    padding: 20px 0;
    margin-top: 30px;
}

.subtotal-payment,
.shipping-payment,
.total {
    display: flex;
    justify-content: space-between;
}


.payment-title {
    font-size: 14px;
    color: #535353;
}

.total {
    padding-top: 20px;
    border-top: 0.5px solid #333;

}

.total-title,
.total-cost {
    color: black;
    font-weight: 500;
    font-size: 22px;
}