html::-webkit-scrollbar {
    display: none; /* cho Chrome, Safari, and Opera */
}
.App{
    background-color: #fcf7f7;
}
.header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
}
.Body-main{
    margin-top: 75px;
    padding-top: 3px;
}
