.table-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main-content h1{
    text-transform: uppercase;
    font-family: Unica One,sans-serif;
    font-size: 40px;
}

.table-container p{
    font-family: Unica One,sans-serif;
    font-size: 40px;
}
.title-size h1{
    padding-top: 40px;
    padding-left: 40px;
    text-transform: uppercase;
    font-family: Unica One,sans-serif;
    font-size: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.title-size{
    background-color:#fcf7f7 ;
}