.blog-content{
    margin: 5%;
}
.card-blog{
    background-color: #fcf7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.card-blog img {
    width: 60%;
}
.detail-blog{
    width: 100%
}
.blog-content-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 20%;
}
.blog-content-detail h1{
    font-weight: 600;
    font-family: Karla, sans-serif;
    text-transform: uppercase;
    margin-top: 5%;
    font-size: 130%;
}
.blog-content-detail img{
    width: 50%;
}
.blog-content-detail p{
    font-weight: 300;
    font-size: 90%;
}