.account-page {
  display: flex;
  justify-content: space-between;
}

.history-purchasing {
  width: 80%;
  margin: 80px 0 0 50px;
  font-family: Karla, sans-serif;
}

.profile-update-detail input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 5px;
  }

  .profile-update-detail label {
    display: block;
    margin-bottom: 10px;
  }

  .profile-update-detail button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }

